@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

/* Design Tokens */
:root {
  --app-bg: #0C120F;
  --card-bg: #142018;
  --input-bg: #1A2920;
  --lime-accent: #D4FF00;
  --text-muted: #8FA396;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #050807;
  color: white;
  margin: 0;
  padding: 0;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Decorative Pattern */
.striped-pattern {
  background-image: repeating-linear-gradient(45deg,
      rgba(212, 255, 0, 0.1),
      rgba(212, 255, 0, 0.1) 4px,
      transparent 4px,
      transparent 8px);
}

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / old Edge */
* {
  -ms-overflow-style: none;
}